[Unit]
Description=blinkt-daemon
After=syslog.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/blinkt-daemon
ExecStart=/root/blinkt-daemon/blinkt-daemon.py
SyslogIdentifier=blinkt-daemon
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
